<div id="content_header">
  <h1 id="main_heading">Select Question Format</h1>
</div>
<div id="data">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <form accept-charset="UTF-8" class="form" id="qtype_select_form" method="POST" action="/questions">
    <div class='group'>
      <div class='field'>
        <div class="input string optional">
          <label class="string optional label" for="multichoice">MCQ</label>
          <input type="radio" id="multichoice" class="string required text_field" name="qtype" value="multichoice"/>
        </div>
      </div>
    </div>
    <div class='group'>
      <div class='field'>
        <div class="input string optional">
          <label class="string optional label" for="truefalse">True/False</label>
          <input type="radio"id="truefalse" class="string required text_field" name="qtype" value="truefalse"/>
        </div>
      </div>
    </div>
    <div class='group'>
      <div class='field'>
        <div class="input string optional">
          <label class="string optional label" for="FIB">FIB</label>
          <input type="radio"id="fib" class="string required text_field" name="qtype" value="fib"/>
        </div>
      </div>
    </div>
    <!--<div class='group'>
      <div class='field'>
        <div class="input string optional">
          <label class="string optional label" for="match">Match the following</label>
          <input type="radio"id="match" class="string required text_field" name="qtype" value="match"/>
        </div>
      </div>
    </div>
    <div class='group'>
      <div class='field'>
        <div class="string optional label">
          <label class="label" for="parajumble">Parajumble</label>
          <input type="radio"id="parajumble" class="string required text_field" name="qtype" value="parajumble"/>
        </div>
      </div>
    </div>-->
    <div class='label heading hr'>
    </div>
    <div class='group'>
      <div align='center' class='field'>
        <input class="button big primary" data-disable-with="Creating..." name="commit" type="submit" value="Proceed" />
        <a href="/questions" class="button danger icon remove">Cancel</a>
      </div>
    </div>
  </form>
</div>