<style>
.assessment_password{
  margin: 10px;
}
</style>
<div id='content_header'>
  <h1 id='main_heading'>
    <%=@message%>
  </h1>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%=link_to "Assessments Home", :controller => "quizzes", :action => "student_not_attempted_assessments" %></li>
  </ul>
</div>
<div id='data'>
  <form method="post" action="/quizzes/start_assessment/<%=@publish.id%>">
    <div class="group">
      <div align="center" class="field">
        <input type="password" name="fakepassword" style="display:none;"/>
        <input type="password" name="password"/>
      </div>
    </div>
    <div class="group">
      <div align="center" class="field assessment_password">
        <input type="submit" class="button" name="submit" value="Submit"/>
      </div>
    </div>
  </form>
</div>