<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Content</h1><br/>
    <p>
      Content: <%= link_to @content.name, content_path(@content)%>.<br/>
    </p>
   <p>
   	<%= @message.body %>
   </p>
  </body>
</html>