<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>students content and test consumed data of <%= Date.today %></h1><br/>
</body>
</html>