<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ABCDE, <%= @user.profile.firstname if @user.profile%></h1><br/>
    <p>
      Your new credentials are<br/>
      your id is: <%= @user.edutorid %>.<br/>
      <% if @user.rollno.present? %>
        your rollno is: <%= @user.rollno %>. <br/>
      <% end %>
      your password is: <%= @random_password %>.<br/>
    </p>

  </body>
</html>