<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Dear Parent,<br/> <br/>
  The test <%=@quiz.name%> was conducted in Class yesterday. Please see
  the attached report of your child’s performance.
</p>

Thanks & Regards <br/>
<%= @user.institution.name %>

</body>
</html>