<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Dear Parent,<br/> <br/>
  Please see the attached report of your child’s performance over the period <%=@start_date%> to <%=@end_date%>.
</p>

Thanks & Regards <br/>
<%= @user.institution.name %>

</body>
</html>
