<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Students content and test consumed data from <%=7.days.ago.to_date.to_s%> to <%= Date.yesterday %></h1><br/>
</body>
</html>