<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen" class = "content">
      h3 { color: #f00; }
      ul { list-style: none; }
  </style>
</head>
<body>
<strong><p class="text-warning">Hello Team,</p></strong>
<p class="text-success">PFA: Version vs User csv file</p>
<%#= image_tag attachments['rails.png'].url %>
</body>
</html>
