<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/activities/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/activities/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/activities/create_concept_map.css">
    <link rel="stylesheet" type="text/css" href="/assets/activities/concept_map.css">
    <script src="/assets/activities/jquery-2.1.4.min.js"></script>
    <script src="/assets/activities/bootstrap.min.js"></script>
    <script src="/assets/activities/jquery-ui.js"></script>
    <script src="/assets/activities/app.js"></script>

</head>

<body>
<div class="header">
</div>
<div class="maincontent container">
    <div class="row">
        <p class="text-green col-xs-12">
            Concept Map
            <a class="btn btn-green pull-right" href="concept_map.html">Create Concept Map</a>
        </p>
    </div>
    <table id="conceptmap_catalog" class="table table-bordered text-center">
        <thead class="bg-green">
        <tr>
            <th class="col-xs-1">No.</th>
            <th class="col-xs-4">Concept Map List</th>
            <th class="col-xs-1">Grade</th>
            <th class="col-xs-1">Subject</th>
            <th class="col-xs-1">Edit</th>
            <th class="col-xs-1">Preview</th>
            <th class="col-xs-1">Delete</th>
            <th class="col-xs-1">Publish</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Animal FoodChain</td>
            <td>5th class</td>
            <td>Science</td>
            <td><a class="btn btn-white">Edit</a></td>
            <td><a class="btn btn-white">Preview</a></td>
            <td><a class="btn btn-white">Delete</a></td>
            <td><a class="btn btn-white">Publish</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>