<html>
<head>

	<title>Ignitor - Image Gallery</title>
	
	<!--  Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet"	href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Custom Stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/play_image_gallery.css" />
	<!-- Javascript libraries -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script	src="js/bootstrap.min.js"></script>
</head>
<body >
<div class="preview_gallery_images" ></div>

<script src="js/play_image_gallery.js"></script>
<script src="js/jquery.bcSwipe.js"></script>
<script src="js/app.js"></script>
<script>

	
	var editable = window.location.href.split('value=')[1];
	if(editable){
		var urlJson=JSON.parse(decodeURIComponent(editable));
		$(".preview_gallery_images").playImage_gallery(urlJson, 'download/');
	}
	$('.carousel').bcSwipe({ threshold: 10 });
</script>
</body>
</html>