<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Match the Item Play Test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script type="text/javascript" src="js/konva.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script src="js/jquery-confirm.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery-confirm.css">
		<link rel="stylesheet" type="text/css" href="css/play_match_the_item.css">
	</head>
	<body>
		<div class="container">
	
			<div class="for-preview" style="height: 700px;"></div>
		</div>
		<script type="text/javascript" src="js/play_match_the_item.js"></script>
		<script>
	$(document).ready(function(){
		var editable = window.location.href.split('value=')[1];
		if(editable){
			var urlJson=JSON.parse(decodeURIComponent(editable));
			$(".for-preview").playMatchtheItem(urlJson,"download/");
		}
		$(".for-preview").find(".preview-content").css({"border":" 1px solid #39b18d"});
		// $(".for-preview").find(".preview-row").css({"margin":"0px","width":"1024px"});
		// $(".for-preview").find("#preview-container").css({"width": "1020px"});
	})</script>
	</body>
</html>