<svg id="addSvgImage" viewBox="0 0 45 45" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="43.531" width="43.543" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <g id="layer1"  stroke="#636363" stroke-miterlimit="4" stroke-dasharray="none" fill="none">
        <circle r="20" cx="23" cy="23" stroke-width="3.0" fill="none" />
        <line x1="6" y1="23" x2="39" y2="23" style="stroke-width:3.0" />
        <line x1="23" y1="6" x2="23" y2="39" style="stroke-width:3.0" />
    </g>
</svg>