.stats_box
  .box_top
    Download Templates
  .content_box
    .cont=link_to 'Fill in the blanks',asset_path('assessment_templates/DAD_Sub_Class_Chapter_index_no_Topic_index_no.doc')
  .content_box
    .cont=link_to 'Multiple Choice',asset_path('assessment_templates/MCQ_Sub_Class_Chapter_index_no_Topic_index_no.doc')
  .content_box
    .cont=link_to 'Match The Following',asset_path('assessment_templates/MTF_Sub_Class_Chapter_index_no_Topic_index_no.doc')
  .content_box
    .cont=link_to 'Sequence Sentences',asset_path('assessment_templates/SS_Sub_Class_Chapter_index_no_Topic_index_no.doc')
  .content_box
    .cont=link_to 'True or False',asset_path('assessment_templates/TOF_Sub_Class_Chapter_index_no_Topic_index_no.doc')

