%svg#addSvgImage{:height => "150", :version => "1.1", :viewbox => "0 0 120 150", :width => "120", :xmlns => "http://www.w3.org/2000/svg", "xmlns:cc" => "http://creativecommons.org/ns#", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  %g#layer1{:fill => "#888888", "stroke-dasharray" => "none", "stroke-miterlimit" => "4", "stroke-width" => "0"}
    %rect{:height => "150", :width => "120", :x => "0", :y => "0"}
    %rect{:fill => "#eeeeee", :height => "90", :ry => "5", :width => "70", :x => "25", :y => "30"}
    %rect{:height => "10", :ry => "5", :width => "60", :x => "30", :y => "35"}
    %circle{:cx => "60", :cy => "60", :r => "5"}
    %line{:stroke => "#888888", "stroke-width" => "6", :x1 => "60", :x2 => "60", :y1 => "60", :y2 => "72"}