#content_header
  %h1{id: 'main_heading'}  Dashboard - Student Login
  %h3{id: 'sub_heading'}
#data
  #main
    #block-text.block
      .content
        .inner
          %p.first
            Welcome to your portal!
            = succeed "," do
              %span.hightlight
          -#%p
            %span.small 1. Create Groups: This is one of the first tasks you should be doing. Create a Group of students, preferably with their Class and Section

          %hr/
          %p
            Contact the site administrator by sending a message to EA-001, in case of any issues
            = succeed "," do
              %span.hightlight