:javascript
  $(document).ready(function() {
    $("#usages").dataTable({
        "aoColumns": [
                    null,null,null,null,null,
                    {"bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });
#content_header
  %h1#main_heading Usage
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          = render :partial=>'home/user_usages'