<h2 align="center">Privacy Policy</h2>
  
<p>
  This Privacy Policy (<strong>“Policy”</strong>) applies to the use of content delivery embedded software, ‘IGNITOR’ (the <strong>“Software”</strong>), owned and operated by Edutor Technologies India Pvt. Ltd. (the <strong>"Company"</strong>). This Policy covers the treatment of personally identifiable information (<strong>“Personal Information”</strong>) of the authorized users of the Software (“User(s)”), that the Company collects as part of its services through the Software (the <strong>“Services”</strong>). This Policy does not describe information collection policies of other third party sites that may be linked from the Software.
  </p>

  <h4>Type of Information Collected</h4>
  <ul>
    <li>
      When a User access or registers himself/ herself/ itself, the Software may collect some Personal Information including but not limited to, name, age, email address, date of birth, user name, password, financial information, debit/ card details of the User or his/ her parents/ guardian and enterprise service configuration settings etc.
    </li>
    <li>The Software also automatically collects aggregate information about the use of the Software, including the pages most frequently visited, number of visitors this Website receives daily and how long visitors stay on each page.</li>
    <li>The Services allows you to access third-party enterprise services including without limitation Microsoft Office 365 and other Microsoft products or services from the User’s device (“Third Party Enterprise Services”). When the User enters his/ her username and password or other credentials and settings for the Third Party Enterprise Services through the Software, the information submitted by the User are stored securely. Such information given is used to connect the User and authenticate him/ her with the Third Party Enterprise Services. The User’s password(s) for the Third Party Enterprise Services will not be sent to the back-end/cloud servers of the Software or to any other third-party. However the User’s username and/or email address for the Third Party Enterprise Services will be sent to the back-end/cloud servers of the Software for the purpose of licensing and enterprise management functions performed by the respective enterprise administrators. The Company may also send configuration information about the Third Party Enterprise Services from or to the backend/cloud servers of the Software, for the purposes of allowing easier configuration of additional devices, or enterprise management of these configurations by the respective enterprise administrators, or for cloud-based backup and restore functions.</li>
    <li> The Company may also collect such other anonymous data that is not associated with or linked to any Personal Data (“Anonymous Data”) of the User and which, by itself, does not permit the identification of any individual User. Anonymous Data includes without limitation, unique identifiers of the device on which the Software is installed, such as VPN, information of Wi-Fi connectivity and such other information. The Company may also store these unique identifiers, at many times and create a profile for you based on such Anonymous Data.</li>
    <li>The Software uses data collection devices such as “cookies” on your device through which the Services is accessed that assist the Company (a) in providing Services; and (b) to allow you to enter your password less frequently during a session.</li>
  </ul>

  <h4>Use of the information Collected</h4>
  The Personal Information that the Company collects from and about the User may be used to provide the Services in an enhanced way. The Company may monitor the User’s use of the Services, and may freely use and disclose any information and materials received from the User or collected through his/ her use of the Software for such purposes as the Company may deem appropriate, including but not limited to the purposes set out herein.
  <ul>
    <li> to effectively provide the Services;</li>
    <li> for the purposes of Software verification or administering Software upgrades;</li>
    <li> to allow User to participate in surveys regarding Services;</li>
    <li> to maintain the quality of the Services and provide general statistics regarding its use;</li>
    <li> to deliver Services, including email notifications, confirmations,  technical notices, updates, security alerts, and support and administrative messages that the User may request;</li>
    <li> archival or backup purposes;</li>
    <li>  to alert User about updated information and other such new or updated Services that may be offered by the Company;</li>
    <li> to allow access to exclusive features or functionality of IGNITOR Learning Platform; and</li>
    <li> to resolve disputes, collect fees and troubleshoot problems.</li>
  </ul>


  <h4>Sharing of Information</h4>
  <ul>
    <li>The Company may provide Personal Information of the User that it collects to third parties when such third parties desire to provide, on a limited basis, information that may be of interest to the User.</li>
    <li>The Company may provide Personal Information if required to do so by law or regulation; to its legal counsel, law enforcement officers, governmental authorities who have asserted their lawful authority to obtain the information or where the Company has in good faith reasonable grounds to believe that such disclosure is reasonably necessary to enforce its Terms of Use or this Privacy Policy.</li>
    <li>The Company shall not rent, sell, or otherwise provide Personal Data received from you to third parties without your consent, except as described in this Policy or as required by law. However, the Company and its affiliates reserve the right to share, sell and transfer some or all of the Personal Data to other business entities should the Company, or its assets, plan to merge with, or be acquired by that business entity.</li>
  </ul>

  <h4>Security of Personal Information</h4>
  <ul>
    <li>
      The Company is committed to protecting the security of any Personal Information of the User and uses reasonable efforts including a variety of security technologies and procedures to help protect such Personal Information from any unauthorized access, use or disclosure. The Company will take all reasonable measures in furtherance of the above commitment. However, the Company cannot guarantee that the Personal Data received from the User and other information stored on the servers will be absolutely protected. Company’s systems and the communications networks through which User access the Services may be subject to security breaches and failures due to circumstances beyond Company’s reasonable control. These may include computer "hacking", data theft or and physical theft among others. In such situations, the Company will try to rectify the problems as soon as possible.
    </li>
    <li>
      The User hereby acknowledges and understands that all Personal Information provided in using the Services is with their knowledgeable consent and at the User’s own risk.
    </li>
  </ul>
  <h4>International Transfer of Data</h4>
  <p>In the process of providing Services to the Users, the Company may transfer the Personal Information and other information that it collects to affiliated entities or other third parties across borders, and from the Users’ country or jurisdiction to other countries or jurisdictions around the world. The Users understand, acknowledge and consent to transferring information and permitting the transfer of information, including Personal Information, to a country and jurisdiction that does not have the same data protection laws as the Users’ jurisdiction. The Users hereby consent to the transfer of his/ her/its information across countries or jurisdictions around the world.</p>

<h4> Modifications</h4>
<p>The Company may revise and update this Privacy Policy at any time by posting such revised Privacy Policy on the website, ‘www.ignitorlearning.com’ or on the Software. User should periodically review the above website for the latest information on privacy practices. Once posted, those changes are effective immediately. Continued access or use of the Services constitutes your acceptance of the changes and the amended Policy. By using the Software, you consent to the collection and use of your information as outlined in this Privacy Policy and to the Terms of Use for use.</p>

<h4>
  Governing Law
</h4>

<p>The usage of the Services is exclusively governed by the laws of India and the jurisdiction of the courts in the State of Telangana. The Company expressly disclaims any implied warranties or liabilities imputed by the laws of any other jurisdiction.</p>

<h4>Advertisements</h4>
<p>The Software may use third-party advertising companies to serve advertisements when the User contacts it. These companies may use information (not including name, address, email address, or telephone number of the user) about the User’s visits to the Software and other websites in order to provide advertisements about goods and services of interest to User.</p>

<h4>Grievance/ Queries</h4>
<p>Any grievances or queries regarding this statement should be directed to the following contact address:<br>
Edutor Technologies India Pvt Ltd.<br>
SRI Capital, Jubillee Hills, Opp Lotus Pond, Hyderabad, India 500033<br>
Email: info@ignitorlearning.com<br>
Phone: +91 40 64502055
</p>