<h2 align="center">Refund Policy</h2>

<p>Please read the policy, conditions and process of refund carefully which will give the Users important information and guidelines about their rights and obligations, concerning any purchase the User make through the Company unless specifically stated otherwise on our website, www.ignitorlearning.com or equivalent websites (the “Site”). We make every effort to provide the Software, Services and/or any other IGNITOR products to the Users as per the Subscription taken and timelines mentioned. If due to any reason, unavoidable circumstances or beyond the limitations of the Publishers or Business Partners, the Services are not rendered then the Subscription shall be cancelled and such applicable partial amount of the Subscription Fees may be refunded.</p>

<h4>Cancellation of the Subscription</h4>
<p>If the User no longer wishes to subscribe to any IGNITOR products or Services, User does not need to renew the Subscription. User will have full access to the Services until his/her/its current Subscription period expires.</p>

<h4>Refund Process</h4>
<p>To obtain a refund on any purchases you have made on the Site, please contact support@ignitorlearning.com WITHIN FIFTEEN DAYS from the purchase date, providing all the details of the purchase. Refund on Subscriptions that the User is not satisfied with, will be available only in case of Subscriptions where the subscription period is equal to or more than one month.</p>

<p>NO REFUNDS SHALL BE MADE FOR ANY SUBSCRIPTION PURCHASES WHERE THE SUBSCRIPTION PERIOD IS LESS THAN ONE MONTH.</p>
<ul>Orders paid by:
	<li>CC/Debit card will be refunded to the same card as per the terms and conditions of the payment gateway vendor.</li>
	<li>Netbanking will be refunded to the same account as per terms and conditions of the relevant bank.</li>
</ul>

Any refund will be subject to any processing fee, taxes etc., which will be deducted as per the terms and conditions set forth in the Terms of Use.<br>

Where a refund has been processed, it will appear on the credit card or bank account statement of the User within seventy two (72) hours upon the Company notifying the User. After receiving the refund, Users agree to uninstall and/or stop using any IGNITOR product(s) and/or the Services for which he/ she/ it no longer possesses a valid license for. The Company reserves the right to disable any Account of the User, product keys, vouchers and/or serial numbers issued in respect of the refunded products.<br>

All other refund requests will be considered on a case-by-case basis and will be prorated for the amount of time left on the Subscription.<br>

This Refund Policy applies only to Subscriptions purchased directly from the Company. If the User has purchased the Subscription through a third party or reseller, any refund will be subject to the applicable policies of such third party or reseller.<br>

