h1, h2, h3 {
  color: #007A00;
}
a:link, a:visited, a:hover, a:active {
  color: #111111;
}
a {-moz-outline: none;}
hr {
  background: #dddddd;
  color: #dddddd;
}

#header {
  background-color: #007A00;
}

#header_bg{
  background:  #007A00;
}

#header h1 {
  color: white;
}
#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: white;
}

.logo a{
  color: #ffffff;
}

#topnav .nav a{
  color: #99CC00;
}


#content_header {
  background: image-url('web-app-theme/themes/default/content_header.jpg') no-repeat scroll center bottom;
}
#content_header h1 {
  color: #999999;
  margin: 0;
}
#content_header h3 {
  color: #3782ba;
}


#test_button {
  background: image-url('web-app-theme/themes/default/icons/give-a-test.png') no-repeat;
}
#test_button:hover {
  background: image-url('/web-app-theme/themes/default/icons/give-a-test.png') -175px 0 no-repeat;
}


#messages_button {
  background: image-url('web-app-theme/themes/default/icons/check_messages.png') no-repeat;
}
#messages_button:hover {
  background: image-url('web-app-theme/themes/default/icons/check_messages.png') -175px 0 no-repeat;
}

#reports_button {
  background: image-url('web-app-theme/themes/default/icons/check_reports.png') no-repeat;
}
#reports_button:hover {
  background: image-url('web-app-theme/themes/default/icons/check_reports.png') -175px 0 no-repeat;
}

#students_button {
  background: image-url('web-app-theme/themes/default/icons/students.png') no-repeat;
}
#students_button:hover {
  background: image-url('web-app-theme/themes/default/icons/students.png') -175px 0 no-repeat;
}


#time_table_button {
  background: image-url('web-app-theme/themes/default/icons/time-table.png') no-repeat;
}
#time_table_button:hover {
  background: image-url('web-app-theme/themes/default/icons/time-table.png') -175px 0 no-repeat;
}

#contents_button {
  background: image-url('web-app-theme/themes/default/icons/view_contents.png') no-repeat;
}
#contents_button:hover {
  background: image-url('web-app-theme/themes/default/icons/view_contents.png') -175px 0 no-repeat;
}

#dummy_button {
  background: image-url('web-app-theme/themes/default/icons/dummy.png') no-repeat;
}
#dummy_button:hover {
  background: image-url('web-app-theme/themes/default/icons/dummy.png') -175px 0 no-repeat;
}

#manage_assessment_button{
  background: image-url('web-app-theme/themes/default/icons/manage_assesment.png') no-repeat;
}
#manage_assessment_button:hover{
  background: image-url('web-app-theme/themes/default/icons/manage_assesment.png') -175px 0 no-repeat;
}

#upload_content_button{
  background: image-url('web-app-theme/themes/default/icons/upload_content.png') no-repeat;
}
#upload_content_button:hover{
  background: image-url('web-app-theme/themes/default/icons/upload_content.png') -175px 0 no-repeat;
}

#content_manage_button{
  background: image-url('web-app-theme/themes/default/icons/manage_content.png') no-repeat;
}
#content_manage_button:hover{
  background: image-url('web-app-theme/themes/default/icons/manage_content.png') -175px 0 no-repeat;
}


#publish_content_button{
  background: image-url('web-app-theme/themes/default/icons/publish_content.png') no-repeat;
}
#publish_content_button:hover{
  background: image-url('web-app-theme/themes/default/icons/publish_content.png') -175px 0 no-repeat;
}


#inner-tab-menu ul li {
  background-color: #007A00;
  color: #FFFFFF;
}

/* listing table */


table.listing{
  background: #84ddfa;
}
table.listing tr.tr-head{
  background:#ffffff ;
  color:#007A00;
}

table.listing .tr-odd{
  background: #fff;
}
table.listing .tr-even{
  background: #d1ffff;
  color:#27292b;
}
table.listing .tr-read-odd{
  background: #fff;
  color:#27292b;
}
table.listing .tr-read-even{
  background: #f1f6ff;
  color:#27292b;
}

table.listing td a{
  color:#007A00;
  text-decoration: underline;
}
table.listing td a:hover{
  color:#990a10;
}

#application-list .heading {
  color: #007A00;
}

/* Details  Show content*/
.details .odd{
  background: #e1ebf4;
}

.details .right{
  color:#000000;
}
.details .left{
  color:#007A00;
}
.details .even{
  background: #c7d9e9;
}

/*

.pagination a, .pagination span {
  border: 1px solid #c3c4ba;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 6px;
  min-width: 15px;
  text-align: center;
  background: #dddddd;
  background-image: url("/images/button-background.png");
  color: #111111;
}
.pagination a:hover {
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.pagination span.current {
  background: #261f1f;
  color: white;
  border: 1px solid #261f1f;
}

.pagination a:active {
  background-image: url("/images/button-background-active.png");
  outline: none;
}
*/

.table th {
  background: #eaeaea;
  color: #222222;
  font-weight: normal;
}
.table th.last {
  min-width: 90px;
}
.table td {
  border-bottom: 1px solid #eaeaea;
}
.table td.last {
  padding-top: 0px;
  padding-bottom: 0px;
}
.table tr.even {
  background: rgb(208,216,232);
}



#box .block {
  box-shadow: 0 0 1px #BDDBFA , 0 1px 1px #BDDBFA ;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px #BDDBFA ;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px #BDDBFA ;
}
#box .block h2 {
  background: #007A00;
}




.form .hr{
  color: #007A00;
}


.login div.left, .signup div div.left {
  width: 21%;
  float: left;
}
.login div.right, .signup div div.right {
  width: 74%;
  float: right;
}

/* from button */
.form input.button {
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:15px;
  background:#a1d8f0;
  background:-moz-linear-gradient(top, #3782ba, #007A00);
  background:-webkit-gradient(linear, left top, left bottom, from(#3782ba), to(#007A00));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3782ba', EndColorStr='#007A00')";
  cursor: pointer;
  padding:11px 16px;
  font:bold 12px/14px Verdana, Tahomma, Geneva;
  color:#fff;
  margin-left:12px;
  padding:7px 21px;
}
.form input.button:hover,input.button:focus,input.button:active {
  -webkit-box-shadow: 5px 5px 15px #ccc;
  -moz-box-shadow: 5px 5px 15px #ccc;
  box-shadow: 5px 5px 15px #ccc;
  background:#a1d8f0;
  background:-moz-linear-gradient(top, #007A00, #3782ba);
  background:-webkit-gradient(linear, left top, left bottom, from(#007A00), to(#3782ba));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#007A00', EndColorStr='#3782ba')";
}

/* button link */
.link_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
  background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
  background-color:#bddbfa;
  border:1px solid #84bbf3;
  color:#ffffff;
  text-shadow:1px 1px 0px #528ecc;
}
link_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
  background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
  background-color:#80b5ea;
}


/* pagination */


.pagination {
  background: white;
  cursor: default;
/* self-clearing method: */ }
.pagination a, .pagination span, .pagination em {
  padding:0 3px 0 4px;
  display: block;
  float: left;
  margin-right: 1px; }
.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #007A00;
  color: white;
  border: 1px solid #007A00; }
.pagination a {
  text-decoration: none;
  color: #007A00;
  border: 1px solid #007A00; }
.pagination a:hover, .pagination a:focus {
  color: #000033;
  border-color: #000033; }
.pagination a:hover{
  color: #ffffff;
  background: #007A00;
}
.pagination .page_info {
  background: #007A00;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.pagination_info{
  float: right;
  margin: 15px;
}
* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; }



/* when nested fields added(for multiple elements) */

.nested_attributes{
  border-top: 1px solid #3782BA;
  border-bottom: 1px solid #3782BA;
  padding-top: 20px;
}



/* drop-down-menu */

#top-menu-bar {
  background: #007A00;
}

#top-menu-bar ul li ul li a {
  background-color:#007A00;
  border-bottom: 1px solid #99CC00;
}
#top-menu-bar ul li ul li a:hover {
  background: #004900;
  border-bottom: 1px solid #004900;
}



