<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen" class = "content">
      h3 { color: #f00; }
      ul { list-style: none; }
  </style>
</head>
<body>
<strong><p class="text-warning">Forgot Password Request</p></strong>
The following student forgot his/her password. Please look into it.
<br><br>
<%= @request_info.each do |key,value| %>
  <strong><%= key%>: </strong><%= value%>
  <br>
<% end %>
</body>
</html>