%table{cellpadding: "0", cellspacing: "0", width: "730px"}
  %tr
    %td
      /Steps: 
    %td
      %span#create-assessment-create-template.step_normal 01     Create Template
    %td
      %span#create-assessment-add-questions.step_normal 02     Add Questions
    %td
      %span#create-assessment-preview.step_normal 03     Preview
    %td
      %span#create-assessment-publish.step_normal 04     Publish
    -#%td
    -#  %span#create-assessment-publish.step_normal 05     Analytics