#body_content_2.body_content{style: "display: none;"}
  %div
    %div{style: "float: left;"}
      %button#backButton
        Back
    -#%div{style: "float: right;"} You are viewing the report!
  #dynamic_content
