.filter-div{style: "line-height: 50px; margin-bottom: -30px;"}
  %form{action: "/assessment_tool/filter_publish"}
    &nbsp;&nbsp;Class:
    %select.classComboBox.drop_down{name: "ac_class", style: "width: 175px;height: 25px;"}
      -if !@tag_c.nil? #&& current_user.institution.user_configuration.use_tags
        %optgroup{label: "Tags"}
          -@tag_c.each do |t_a|
            %option{value: t_a[0]}
              = t_a[1]
      -if !@a_context_c.nil? # && !current_user.institution.user_configuration.use_tags
        %optgroup{label: "Context"}
          -@a_context_c.each do |t_a|
            %option{value: t_a[0] }
              = t_a[1]
    &nbsp;&nbsp; Subject:
    %select.classComboBox.drop_down{name: "subject", style: "width: 175px;height: 25px;"}
      -if !@tag_s.nil? #&& current_user.institution.user_configuration.use_tags
        %optgroup{label: "Tags"}
          -@tag_s.each do |t_a|
            %option{value: t_a[0]}
              = t_a[1]
      -if !@a_context_s.nil? #&& !current_user.institution.user_configuration.use_tags
        %optgroup{label: "Context"}
          -@a_context_s.each do |t_a|
            %option{value: t_a[0] }
              = t_a[1]
    &nbsp;&nbsp; Assessment Status:
    %select.classComboBox.drop_down{name: "a_type", style: "width: 175px;height: 25px;"}
      %option{value: "published"} Published
      %option{value: "un-published"} Not Published
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %input.ui-button-text-icon{type: "submit", value: "Filter", style: "width: 100px;height: 25px;"}