
.q_optionrow
  .option_cell1
    = f.label "Extra Answer "
  .option_cell2
    = f.text_field :answer, placeholder:"Type your answer here ...",required:"required"
  .option_cell3
    = f.check_box :fraction, value:"1"
    This is the correct answer
