:javascript
  $(document).ready(function() {
    $("#messages_list").dataTable({
        "aoColumns": [
                    null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          %table#messages_list.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
            %thead
              %tr.tr-head
                %th User
                %th No of Books
                %th.last &nbsp
            %tbody
              - @UserBooks.each do |user_book|
                %tr{:class => cycle("tr-odd", "tr-even"),:id=>"message_#{user_book.id}"}
                  %td.col= link_to User.find(user_book.user_id).name, user_path(user_book.user_id)
                  %td.col= link_to User.find(user_book.user_id).user_books.count, user_book_path(user_book)
                  %td.col
                    =link_to_show(user_book_path(user_book))
        .pagination_info
          = paginate @UserBooks