.preview-text {
    padding: 20px 120px ;
    color: #A7A3A5;
    font-size:20px;
    color:#000000;
}

#preview-play {
    color: #1fb6ed;
    font-size: 60px;
    pointer-events: none;
}
.preview-play-label {
    font-size: 24px;
    color: #1fb6ed;
}

#imagepreview .item {
    height: 100%;
    width: 100%;
    border-radius: none !important;
}
#imagepreview .item  img {
    border: 1px solid #7AC9AA;
    box-shadow: 2px -2px 5px #BFBFBF;
}
#imagepreview .carousel-control {
    background: none;
}
#imagepreview .carousel-control span {
    font-size: 60px;
    color: #c6c6c6;
}
.carousel-inner img {
    max-width: 750px !important;
    max-height: 400px;
}

.ignitor-logo{
    position:absolute;
    width:100px;
    height:100px;
    right:0px;
    bottom:0px;
    opacity:0.5;
}

.preview-header {
    background: #815aa5;
    line-height: 30px;
    color: white;
    padding-left: 15px;
    margin-bottom:0px;
}
.align-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -o-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
.align-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.aligning-prev{
    text-align:center;
    margin-top:145px;
    padding:20px;
}
.align-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.align-bottom{
    position: absolute;
    left: 50%;
    bottom: 8px;
    -ms-transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -o-transform:translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: '#999999';
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: '#999999';
}